<%- model_class = Message -%>
<div class="page-header">
  <h1> Contact </h1>
</div>

<h3>
  Got an exciting project and need a developer? Or maybe you're interested in talking to me about something I have worked on already.
</h3>

<%= render :partial => 'form' %>
