<div class="cow">
   ___________
  < Moo money, Moo problems >
   -----------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
</div>
