<div class="container">
  <h1> What i do? </h1>
  <div class="row">
    <div class="col-xs-6 col-sm-3 main-page-grid">
      <span class="glyphicon glyphicon-home"></span>
    </div>
    <div class="col-xs-6 col-sm-3 main-page-grid">
      <span class="glyphicon glyphicon-home"></span>
    </div>
    <div class="col-xs-6 col-sm-3 main-page-grid">
      <span class="glyphicon glyphicon-home"></span>
    </div>
  </div>
</div>
