<div class="page-header">
  <h1> Projects </h1>
</div>

<div class="jumbotron">
  <h3> CUDV </h3>
  <p> System for extracting data out of drupal into rails models, primarily for sales statistics at the moment. </p>

  <a class="btn btn-primary btn-large" href="http://cudv.dev.mateos.cc"> Demo </a>

  <a class="btn btn-primary btn-large" href="https://github.com/dmateos/cudv"> Source </a>
</div>

<div class="jumbotron">
  <h3> GoTipping </h3>
  <p> Customizable and extendable tipping solution for the masses </p>

  <a class="btn btn-primary btn-large" href="http://gotipping.dev.mateos.cc"> Demo </a>
</div>

<div class="jumbotron">
  <h3> Metamorphose </h3>
  <p> Data transformation </p>

  <a class="btn btn-primary btn-large" href="http://metamorphose.dev.mateos.cc/"> Demo </a>

  <a class="btn btn-primary btn-large" href="https://github.com/dmateos/metamorphose"> Source </a>
</div>

<div class="jumbotron">
  <h3> WifiMap </h3>
  <p> A solution for geo-locating all the access points in your local area. (Webservice and Android app) </p>

  <a class="btn btn-primary btn-large" href="http://wifimap.dev.mateos.cc"> Demo </a>

  <a class="btn btn-primary btn-large" href="https://github.com/dmateos/wifimap"> Source </a>
</div>

<div class="jumbotron">
  <h3> NFPMap </h3>
  <p> Done for an employer to help data mapping, plots not-for-profits and other data points on a map. </p>

  <a class="btn btn-primary btn-large" href="http://nfpmap.dev.mateos.cc"> Demo </a>

  <a class="btn btn-primary btn-large" href="https://github.com/dmateos/nfpmap"> Source </a>
</div>

<div class="jumbotron">
  <h3> Aspect </h3>
  <p> Basic 3d engine written in C++ using modern opengl with shaders </p>

  <a class="btn btn-primary btn-large" href="https://github.com/dmateos/aspect"> Source </a>
</div>

<div class="jumbotron">
  <h3> Nodeporg </h3>
  <p> Simple 3d multiplayer game mostly used to learn Node.JS/ThreeJS and Websockets. </p>

  <a class="btn btn-primary btn-large" href="https://github.com/dmateos/nodeporg"> Source </a>
</div>

<div class="jumbotron">
  <h3> Little x86 </h3>
  <p> Little bare bones x86 operating system.  Not being wokred on much at the moment. </p>

  <a class="btn btn-primary btn-large" href="https://github.com/dmateos/x86-os-experiment"> Source </a>
</div>
