/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require font-awesome
 */

body {
	padding-top: 30px;
	padding-bottom: 70px;
  background-color: #EEEDF5 !important;
}

.form-signup, .form-signin {
	width: 400px;
	margin: 0 auto;
}

/* User sign in and sign forms. */
.border-form-div {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
	margin-bottom: 10px;
}

.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:30px !important}

.header {
  background-color: #363A47;
  color: #CFCCE0;
}

.header-social {
  padding-top: 10px;
}

.header-logo-big {
  font-size: 80px;
}

.header-logo-small {
  font-size: 50px;
}

.header-logo-grid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.soc-icon {
  color: #CFCCE0;
}

.main-content {
  padding-top: 90px;
}

.blog-post {
  padding-bottom: 10px;
}

#map-div {
}

#map_canvas {
  width: 600px;
  height: 300px;
}

